<footer id="aa-footer">
  <!-- footer bottom -->
  <div class="aa-footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-footer-top-area">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <h3>Institucional</h3>
                  <ul class="aa-footer-nav">
                    <li><a href="#">Página inicial</a></li>
                    <li><a href="#">Sobre a Auto FP</a></li>
                    <li><a href="/contato/">Fale conosco</a></li>
                    <li><a href="#">Política de privacidade</a></li>
                    <li><a href="#">Nossos produtos</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>Atendimento</h3>
                    <ul class="aa-footer-nav">
                      <li><a href="#">Entregas</a></li>
                      <li><a href="#">Termos de garantia</a></li>
                      <li><a href="#">Pagamentos</a></li>
                      <li><a href="#">Trocas e devoluções</a></li>
                      <li><a href="#">Cancelamentos</a></li>
                      <li><a href="#">Como comprar</a></li>
                      <li><a href="#">Perguntas frequentes</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>Links úteis</h3>
                    <ul class="aa-footer-nav">
                      <li><a href="#">Central de ajuda</a></li>
                      <li><a href="/minhaconta/">Registrar-se</a></li>
                      <li><a href="/minhaconta/">Minha conta </a></li>
                      <li><a href="#">Meus pedidos</a></li>
                      <li><a href="#">Pesquisa avançada</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>Formas de envio</h3>
                    <h6><img src="" /></h6>
                    <h6><img src="" /></h6>


                  </div>
                  <div class="aa-footer-widget">
                    <h3>Segurança</h3>
                    <img src="../../../../assets/img/footer/siteblindado.gif" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <h3>Informações FP</h3>
                  <address>
                    <p>Razão Social: Auto FP Ltda.</p>
                    <p>CNPJ: 36.506.201/0001-02</p>
                    <p><span class="fa fa-phone"></span>+55 (11) 1234-5678</p>
                    <p><span class="fa fa-envelope"></span>sac@autofp.com.br</p>
                    <p>Segunda à sexta - 8:00 às 18:00</p>
                    <p>Exceto feriados</p>
                  </address>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>Fique por dentro</h3>
                    <div class="fb-page" data-href="https://www.facebook.com/autofp/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/autofp/"><a href="https://www.facebook.com/autofp/">Auto FP</a></blockquote></div></div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>Formas de pagamento</h3>
                    <address>
                      <p>Débito e transferência</p>
                      <p>
                        <img src="" />
                        <img src="" />
                      </p>
                      <p>Cartões de crédito</p>
                      <p>
                        <img src="" />
                        <img src="" />
                        <img src="" />
                        <img src="" />
                      </p>
                    </address>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>Consumidor</h3>
                    <a href="http://www.portaldoconsumidor.gov.br/procon.asp?acao=buscar" target="_blank"><img src="" /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer-bottom -->
  <div class="aa-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-footer-bottom-area">
            <p>&copy; Todos os direitos reservados!</p>
            <div class="aa-footer-payment">
              <p class="fa"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
